# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
public/

# Static files (if dynamically generated)
*.cache

# Environment variable files
.env
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Yarn Integrity
.yarn-integrity

# Testing
coverage/
.nyc_output/

# Miscellaneous

#env
.env
