@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");

:root {
  --primary-color: #e4b381;
  --font-color: #111;
  --secondary-font-color: #fff;
  --icon-color: #d9d9d9;
  --footer-color: #2a2422;
  --size-half: 4px;
  --size: 8px;
  --size-x2: 16px;
  --size-x3: 24px;
  --size-x4: 32px;
  --size-x5: 40px;
  --size-x6: 48px;
  --size-x7: 56px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lora", serif;
  font-weight: 700;
}

h1 {
  font-size: 32px;
  line-height: 164%;
}

h2 {
  font-size: 32px;
  line-height: 164%;
}

h3 {
  font-size: 20px;
  line-height: 117%;
}

main {
  align-items: center;
  flex-flow: column;
  display: flex;
  padding: 12px 68px 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
  font-size: 14px;
  line-height: 164%;
  min-width: 382px;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a.button,
button {
  padding: var(--size) 68px;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-font-color);
  border-radius: 10px;
  font-size: 14px;
  color: var(--font-color);
  text-decoration: none;
}

a.button:hover,
button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-font-color);
}

.menu {
  position: absolute;
  right: 0;
  width: 80%;
  background-color: #fff;
  top: 0;
  z-index: 1;
}

section.hero {
  min-width: 304px;
  margin: var(--size-x4) auto var(--size-x5);
  max-width: 686px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 0 var(--size-x2);
}

section.hero p {
  margin-top: var(--size-half);
}

nav.bg-drop + div.main-content {
  filter: blur(4px);
}

section.hero h1 {
  margin: 0;
}

.visible {
  display: block;
  height: 100vh;
  -webkit-box-shadow: 0px 0px 18px -8px rgba(77, 77, 77, 0.85);
  -moz-box-shadow: 0px 0px 18px -8px rgba(77, 77, 77, 0.85);
  box-shadow: 0px 0px 18px -8px rgba(77, 77, 77, 0.85);
}

.hidden {
  display: none;
}

.mobile-menu {
  display: block;
  position: relative;
  z-index: 2;
}

.mobile-menu ul {
  padding: var(--size-x6) var(--size-x3) var(--size-x2) var(--size-x3);
}

.mobile-menu li {
  font-size: var(--size-x2);
  padding-bottom: var(--size);
}

.mobile-menu .lng-selector {
  padding-top: var(--size-x2);
}

.mobile-menu .lng-selector a {
  padding-right: var(--size);
}

.desktop-menu {
  display: none;
}

.hamburger-menu {
  position: absolute;
  right: 0;
  padding: var(--size-x3);
}

.hamburger-menu span {
  display: block;
  content: "";
  min-width: var(--size-x3);
  margin-bottom: var(--size-half);
  min-height: 2px;
  background-color: var(--icon-color);
  border-radius: 10px;
  width: var(--size-x3);
}

.hamburger-menu.is-active span:nth-child(1) {
  transform: translateY(6px) rotate(30deg);
}

.hamburger-menu.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.is-active span:nth-child(3) {
  transform: translateY(-6px) rotate(-30deg);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

div.desktop-menu ul {
  flex-flow: row;
  min-width: 314px;
  justify-content: space-between;
}

nav ul a,
nav ul a:hover,
nav ul a:visited {
  color: var(--font-color);
  text-decoration: none;
  border-radius: 4px;
}

nav ul a:hover {
  color: var(--icon-color);
}

.desktop-menu .lng-selector {
  position: absolute;
  right: 0;
  top: 0;
}

.desktop-menu .lng-selector a {
  padding: 0 var(--size-half);
}

.lng-selector a.active {
  font-weight: 700;
}

.hero-slider-container,
.reviews .slider-container {
  width: 100vw;
  max-width: 1215px;
  margin: auto;
}

section.reviews {
  margin-top: 60px;
}

.reviews h2 {
  text-align: center;
  margin-bottom: var(--size);
  line-height: inherit;
}

.reviews .slider-container .slide {
  background-color: #f4f2f1;
}

.reviews .slider-container .slick-slide {
  float: none;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  transition: all 0.3s ease;
  height: auto;
  text-align: center;
  opacity: 0.4;
}

.reviews .slider-container .slick-slide.slick-current {
  opacity: 1;
}

.reviews .slider-container .slide,
.reviews .slider-container .slide {
  padding: 0px 0px;
  margin: 50px 0px;
  transition: all 0.3s ease;
  background-color: #f4f2f1;
}

.reviews .slider-container .slick-current .slide,
.reviews .slider-container .slick-center .slide {
  padding: 50px 0px;
  margin: 0px 0px;
  transition: all 0.3s ease;
  background-color: #f4f2f1;
}

.reviews .slick-slide > div {
  padding: 0 var(--size);
}

.reviews .comment,
.reviews .slide-top {
  padding: 0 35px;
}

.reviews .slide-top {
  padding-top: 30px;
}

.reviews .slick-current .slide-top {
  padding-top: 0;
}

.reviews .comment {
  padding-bottom: 30px;
}

.reviews .slick-current .comment {
  padding-bottom: 0;
}

.reviews .slide-top {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.reviews .desktop-author,
.reviews .mobile-author {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.reviews .desktop-author p,
.reviews .mobile-author p {
  text-align: start;
  padding: 0 var(--size);
}

.reviews .slide-top .desktop-author img,
.reviews .slide-top .mobile-author img {
  width: 58px;
  height: 58px;
  border-radius: 29px;
}

.reviews .desktop-author,
.reviews .desktop-rating {
  display: none;
}

.reviews .desktop-author .data,
.reviews .mobile-author .rating {
  color: #6e6e6e;
}

.hero-slider-container .slide img {
  width: 100%;
}

.hero-slider-container .slick-list {
  margin: 0 -16px;
}

.hero-slider-container .slick-slide > div {
  padding: 0 var(--size-half);
}

.about-us {
  min-width: 304px;
  margin: var(--size) auto var(--size-x5);
  max-width: 686px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 0 var(--size-x3);
}

.about-us p {
  text-align: start;
  margin-top: var(--size-half);
}

.about-us br {
  margin-bottom: 8px;
  content: "";
  display: block;
}

section.services {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 924px;
  margin: 0 auto;
}

section.services h2 {
  text-align: center;
  margin-bottom: var(--size-x2);
}

section.services h3 {
  margin: var(--size) 0;
}

section.services p {
  margin: var(--size) 0 var(--size-x4);
}

section.services ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
}

section.services li {
  margin: 0 24px;
}

section.services img {
  width: 100%;
}

section.services .services-description {
  display: none;
}

section.contact-us {
  min-width: 304px;
  margin: var(--size) auto var(--size-x5);
  max-width: 686px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 0 var(--size-x3);
}

section.contact-us h2 {
  margin-bottom: 0;
}

.apps {
  display: flex;
  justify-content: center;
}

.apps a {
  width: 42px;
  height: 42px;
  display: flex;
  border: 1px solid var(--primary-color);
  border-radius: var(--size);
  text-align: center;
  justify-content: center;
  margin: 0 var(--size-half);
}

.apps a img {
  width: var(--size-x4);
}

.map {
  width: 100vw;
  max-width: 1215px;
  height: 100%;
  margin: 0 auto;
}

.map iframe {
  border: 0;
  margin-bottom: -8px;
}

.comment p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 10lh;
  text-align: left;
}

footer {
  min-width: 100vw;
  background-color: var(--footer-color);
}

footer .logo {
  display: block;
  margin: 0 auto;
}

footer .mobile.logo {
  display: block;
  padding-bottom: var(--size-x4);
}

footer .desktop {
  display: none;
}

footer div.container {
  max-width: 924px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 0 var(--size-x2);
}

footer p {
  color: var(--secondary-font-color);
}

footer p br {
  padding-bottom: var(--size);
}

.phone {
  white-space: nowrap;
  color: var(--font-color);
  text-decoration: none;
  font-weight: 600;
}

*:focus {
  outline: 1px solid var(--primary-color);
}

@media screen and (min-width: 924px) {
  .reviews .slider-container {
    width: 100%;
  }
}

/*
    Tablet (768px to 1024px)
*/
@media screen and (min-width: 768px) {
  body,
  button,
  a,
  a.button {
    font-size: 16px;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 28px;
  }

  .menu {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
    border-bottom: 1px solid var(--icon-color);
    padding: var(--size-x3) 124px 0;
  }

  .desktop-menu li {
    padding: 0 16px;
  }

  .desktop-menu .lng-selector {
    padding: 0 24px;
  }

  section.hero {
    margin: var(--size-x4) auto var(--size-x7);
  }

  .about-us p {
    margin-top: var(--size);
  }

  section.services {
    margin-top: var(--size-x5);
  }

  section.services h2 {
    margin-bottom: var(--size-x3);
  }

  section.services h3 {
    margin: var(--size) auto var(--size-x2);
  }

  section.services ul {
    flex-flow: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  section.services li {
    width: 30%;
    max-width: 260px;
  }

  section.services img {
    max-width: 100%;
  }

  section.services .services-description {
    max-width: 686px;
    margin: 0 auto;
  }

  section.services .services-description {
    display: block;
  }

  section.reviews {
    margin-top: 120px;
  }

  .reviews .desktop-author,
  .reviews .desktop-rating {
    display: flex;
  }

  .reviews .mobile-author {
    display: none;
  }

  section.contact-us h2 {
    margin-bottom: 0;
    margin-top: 70px;
  }
}

/* 
    Desktop (1024px and up)
 */
@media screen and (min-width: 1024px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 64px;
  }

  .menu {
    width: auto;
    position: relative;
  }

  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
    padding: var(--size-x4) 254px 0;
    border-bottom: 1px solid var(--icon-color);
  }

  .desktop-menu li {
    padding: 0 16px;
  }

  .desktop-menu .lng-selector {
    padding: 0;
  }

  section.hero {
    margin: var(--size-x4) auto var(--size-x7);
  }

  section.services {
    margin-top: 60px;
  }

  footer div.container {
    padding: 0;
  }

  footer .desktop {
    display: block;
  }

  footer .mobile.logo {
    display: none;
  }

  .comment p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 4lh;
  }
}
